.label{
    padding-top:8px;
}

.lablestyle{
    padding-right: 0px;
        padding-left: 10px;
}
.width100{
    display: initial;
    width: 100px;
    // margin:5px;
}
.text_right{
    float: right;
}
.text_icon{
    font-size: small;margin-top: -21px;
   
        right: -12px;
        position:absolute;
       
}