
  
   <span id="modelopen" data-target="#PayorRequirededit" data-toggle="modal"></span>
  
  
  
   
  <div class="modal fade" id="PayorRequirededit" data-backdrop="static" >

   <div class="modal-dialog ">
      <div class="modal-content"> 

   
            <div class="modal-header"> 
                <h5 class="modal-title font-header"  *ngIf="PayorRequired.id!=0">UpdatePayor Info</h5>
                
                <h5 class="modal-title font-header" *ngIf="PayorRequired.id==0"> New Payor Info</h5>
            </div> 
             <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="label-bold">Payor<sup class="super-script">&nbsp;*</sup></label>
                    </div>
                    <div class="col-lg-6">
                      <select [(ngModel)]="PayorRequired.groupPayorId" class="form-control">
                          <option>

                          </option>
                          <option *ngFor="let val of GroupLst" [value]="val.Key">
                              {{val.Value}}
                        </option>
                      </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="label-bold">ID<sup class="super-script">&nbsp;*</sup></label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" [(ngModel)]="PayorRequired.billingPayorRequiredID"  class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="label-bold">Start Date</label>
                    </div>
                    <div class="col-lg-6">
                        <my-date-picker [options]="myDatePickerOptions" [selDate]="PayorRequired.startDate"
                            placeholder="mm/dd/yyyy" (inputFieldChanged)="newdates($event,'inputchage','start')"
                            (dateChanged)="newdates($event,'datechagned','start')">
                        </my-date-picker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="label-bold"> End Date</label>
                    </div>
                    <div class="col-lg-6">
                        <my-date-picker [options]="myDatePickerOptions" [selDate]="PayorRequired.endDate"
                            placeholder="mm/dd/yyyy" (inputFieldChanged)="newdates($event,'inputchage','end')"
                            (dateChanged)="newdates($event,'datechagned','end')"
                            >
                        </my-date-picker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="label-bold"> Fax Date</label>
                    </div>
                    <div class="col-lg-6">
                        <my-date-picker [options]="myDatePickerOptions" [selDate]="PayorRequired.faxDate"
                            placeholder="mm/dd/yyyy"
                            (inputFieldChanged)="newdates($event,'inputchage','fax')"
                            (dateChanged)="newdates($event,'datechagned','fax')"
                            >
                        </my-date-picker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="label-bold">Received</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="checkbox" [(ngModel)]="PayorRequired.received">
                    </div>
                </div>
             </div> 

           <div class="modal-footer"> 
            <button class="btn blue-btn" style="text-transform:none"
            *ngIf="PayorRequired.id==0" [disabled]="
             PayorRequired.groupPayorId==null || PayorRequired.groupPayorId==undefined
                  ||PayorRequired.billingPayorRequiredID=='' || PayorRequired.billingPayorRequiredID==null
                   || PayorRequired.billingPayorRequiredID==undefined "
                         (click)="savePayorRequired(PayorRequired);">
              Save & Close
            </button>&nbsp;
            <button class="btn blue-btn" style="text-transform:none"
            *ngIf="PayorRequired.id!=0" [disabled]="
             PayorRequired.groupPayorId==null || PayorRequired.groupPayorId==undefined
                  ||PayorRequired.billingPayorRequiredID=='' || PayorRequired.billingPayorRequiredID==null
                   || PayorRequired.billingPayorRequiredID==undefined "
             (click)="savePayorRequired(PayorRequired);">
              Update & Close
            </button>&nbsp;
                <button type="button" class="btn blue-btn" (click)="back()" data-dismiss="modal">close</button>
             </div> 
        </div>
</div> 
</div> 
 

<!-------------------------------------------delete payor delete ----------------------------------------------------------------------->
<span id="deletemodal" data-toggle="modal" data-target="#deletepayor"></span>
<div class="modal fade" id="deletepayor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog create-update-zip" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-header" id="exampleModalLabel">Delete Record</h5>
            </div>
            <div class="modal-body">
                Do you want to delete this record ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn btn-sm" data-dismiss="modal" (click)="deletepayor()">Yes</button>
                <button type="button" class="btn blue-btn btn-sm" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
  

<!-- <div id="PayorRequirededit" class="custommodal">

Modal content
    <div class="custommodal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  
  </div> -->

