<!-------------------------------------------Client certificaion save or update modal------------------------>
<span id="opencertificate" data-target="#modalCertification" data-toggle="modal"></span>
<div class="modal fade" id="modalCertification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-header" id="exampleModalLabel">
          <span *ngIf="ModelType =='new'"> Create Certification</span>
          <span *ngIf="ModelType =='edit'">Update Certification</span>
        </h5>
      </div>
      <div class="alert alert-warning alert-dismissible fade show" *ngIf="saveorUpdatecertificationErr!=''" role="alert">
        <p>{{saveorUpdatecertificationErr}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            (click)="saveorUpdatecertificationErr=''">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <!-- <div class="row alert ml-3 mr-3 alert-danger text-dark" *ngIf="saveorUpdatecertificationErr!=''">
        <strong>{{saveorUpdatecertificationErr}}</strong>
      </div> -->
      <div class="alert alert-warning alert-dismissible fade show" *ngIf="startofcaredate" role="alert">
        <p>Start of care has to be created before adding certification</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            (click)="startofcaredate = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <!-- <div class="row alert ml-3 mr-3 alert-danger text-dark" *ngIf="startofcaredate">
        <strong>Start of care has to be created before adding certification</strong>
      </div> -->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <label>Start Of Care
              <sup class="super-script">&nbsp;*</sup></label>
          </div>
          <div class="col-lg-6">
            <ng-select [items]="CLientSOCList" class="w-100" [searchable]="true" [clearable]="true" bindLabel="Value"
              bindValue="Key" [ngModelOptions]="{standalone: true}" [(ngModel)]="ClientCertificationList.startOfCareId">
            </ng-select>

          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-6">
            <label>Start Date
              <sup class="super-script">&nbsp;*</sup></label>
          </div>
          <div class="col-lg-6">
            <my-date-picker [options]="myDatePickerOptions" [selDate]="ClientCertificationList.startDate"
              placeholder="mm/dd/yyyy" (inputFieldChanged)="Certificationstartdatechange($event)"
              (dateChanged)="onDateChangedCertificationStart($event)">
            </my-date-picker>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-6">
            <label>End Date</label>
          </div>
          <div class="col-lg-6">
            <my-date-picker [options]="myDatePickerOptions" [selDate]="ClientCertificationList.endDate"
              placeholder="mm/dd/yyyy" (inputFieldChanged)="Certificationenddatechange($event)"
              (dateChanged)="onDateChangedCertificationEnd($event)">
            </my-date-picker>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-6">
            <label>Company
              <sup class="super-script">&nbsp;*</sup></label>
          </div>
          <div class="col-lg-6">
            <ng-select [items]="companyList" class="w-100" [searchable]="true" [clearable]="true" bindLabel="Value"
              bindValue="Key" [ngModelOptions]="{standalone: true}" [(ngModel)]="ClientCertificationList.companyId">
            </ng-select>

          </div>
        </div>


        <div class="row mt-1">
          <div class="col-lg-6">
            <label>ICD10(Primary)
              <sup class="super-script">&nbsp;*</sup></label>
          </div>
          <div class="col-lg-5">
            <ng-select [items]="ICD10List" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="ClientCertificationList.icD10PrimaryId" class="w-100" [searchable]="true" [clearable]="true"
              bindLabel="Value" bindValue="Key" [disabled]="true">
            </ng-select>
          </div>

          <div class="col-lg-1 paddingbtnl">
            <button class="btn btn-sm btn-primary" data-target="#ICD10" data-toggle="modal" (click)="enableICD10=true;">
              <i class="fa fa fa-eye"></i></button>
          </div>

          <!-- (click)="viewICD10Codes(icd10Codes)" -->
        </div>

        <div class="row mt-1">
          <div class="col-lg-6">
            <label>Physician NPI</label>
          </div>
          <div class="col-lg-4">
            <input type="text" placeholder="NPI" class="form-control" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="ClientCertificationList.npi" (keypress)="keyPress($event)" minlength=10 maxlength=10
              (keyup.enter)="searchNPI(ClientCertificationList.npi)" />

          </div>
          <div class="col-lg-1" *ngIf="ClientCertificationList.npi!=null && ClientCertificationList.npi!=undefined">

            <i class="fa fa-search" (click)="searchNPI(ClientCertificationList.npi)"></i>
          </div>
        </div>
        <div class="row mt-1" >
          <div class="col-lg-6">
            <label>Physician</label>
          </div>
          <div class="col-lg-6">
            <input type="text" placeholder="Physician" class="form-control" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="ClientCertificationList.physician" />
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-lg-6">
            <label>Clinic</label>
          </div>
          <div class="col-lg-6">
            <textarea class="form-control" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="ClientCertificationList.clinic"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm"
          [disabled]="ClientCertificationList.startOfCareId=='' || ClientCertificationList.startOfCareId==null || 
      ClientCertificationList.startOfCareId==undefined 
    ||ClientCertificationList.startDate =='' || ClientCertificationList.startDate==null || ClientCertificationList.startDate==undefined
    ||ClientCertificationList.companyId =='' || ClientCertificationList.companyId==null || ClientCertificationList.companyId==undefined 
    ||ClientCertificationList.icD10PrimaryId =='' || ClientCertificationList.icD10PrimaryId==null || ClientCertificationList.icD10PrimaryId==undefined ">
          <span *ngIf="ModelType =='new'" (click)="checkCertificationValidation(ClientCertificationList)"> Save &
            Close</span>
          <span *ngIf="ModelType =='edit'" (click)="checkCertificationValidation(ClientCertificationList)">Update &
            Close</span> </button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="back()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-------------------------------------------Delete Certificate------------------------------------------------------------>
<span id="deletecertificatedata" data-toggle="modal" data-target="#deletecer"></span>
<div class="modal hide fade modalbackgrod" id="deletecer" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-header" id="exampleModalLabel">Delete Record</h5>

      </div>
      <div class="modal-body ">
        Do you want to delete this record ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="deleteCertificateConfirmation()">Yes</button>

        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" (click)="back()">No</button>
      </div>
    </div>
  </div>
</div>

<!-----------------------------------------------  ICD10       --------------------------------------------------------------->
<span id="ICD10eopen" data-toggle="modal" data-target="#ICD10"></span>
<div class="modal hide fade modalbackgrod" id="ICD10" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog  ICD-modal">
    <div class="modal-content">
      <div class="modal-header">


      </div>
      <div class="modal-body ICD-modalbody">

        <app-icd10 *ngIf="enableICD10" (dataFromICD10)=ICD10data($event) [ICD10input]="ICD10value"></app-icd10>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-sm btn-primary" (click)="Closedcdialog()">Cancel</button>
      </div>
    </div>
  </div>
</div>