.ICD-modal{
    max-width: 1000px !important;
}
.ICD-modalbody
{
    padding: 2rem !important;
}
.modalbackgrod
{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.paddingbtnl
{
    padding-left: 0px;
}