<!-- <div class="row mb-2">
    <div class="col pl-0">
        <div widget class="card border-0 box-shadow">
        <div class="card-header transparent  text-muted">
            <h4 class="mb-0 font-header">Forgot Password?</h4>
        </div>
        <div class="card-body  widget-body pb-0 pt-2 mb-4">
            <form [formGroup]="forgotLoginForm">
                <div class="row">
                    <div class="col-lg-5">
                    <label>Email<sup class="super-script">*</sup>
                    </label>
                    </div>
                    <div class="col-lg-7">
                    <input type="text" class="form-control" formControlName="uname" [(ngModel)]="uname" name="uname"/>
                    </div>
                </div>
                <span class="help-block text-danger text-center"
                    *ngIf="!forgotLoginForm.get('uname').valid && forgotLoginForm.get('uname').touched">
                    <p>Email is required</p>
                </span>
                <div class="row">
                    <div class="col-lg-5">
                    <label>Email<sup class="super-script">*</sup>
                    </label>
                    </div>
                    <div class="col-lg-7">
                    <input type="text" class="form-control" formControlName="agencycode" [(ngModel)]="agencycode" name="agencycode"/>
                    </div>
                </div>
                <span class="help-block text-danger text-center"
                    *ngIf="!forgotLoginForm.get('uname').valid && forgotLoginForm.get('uname').touched">
                    <p>Email is required</p>
                </span>
            </form>
        </div>
        <div class="card-header transparent"></div>
            <div class="row">
                <div class="col-6">
                    <button class="btn" (click)="confirmResetpassword()" [disabled]="!forgotLoginForm.valid">Proceed</button>&nbsp;&nbsp;
                </div>
                <div class="col-6">
                    <button class="btn" (click)="close()"><h6>Cancel</h6></button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="pl-0 col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0 width-size">
            <div class="card-header d-flex justify-content-center align-items-center border border-white bg-white mt-1">
               <img src = "/assets/img/cover.png" style="height: 100px;width: 250px;">
            </div>
            <div class="card-body text-center" style="margin-top: -5.5%;">
                <h1 id="title" class="title" style="color:#0D47A1;margin-bottom: 10px">Forgot Password?</h1>
                <form [formGroup]="forgotLoginForm">
                    <div class="form-group" style="margin-bottom: 4px">
                    <label>Email <sup style="color:red; font-size: 1.35em;
                        top: 0em;">&nbsp;*</sup></label>
                    <input class="form-control" style="border-color:#ced4da;" placeholder="Email" type="text" autocomplete="off" formControlName="uname" [(ngModel)]="uname"
                        name="uname">
                    </div>
                    <span class="help-block text-danger text-center"
                    *ngIf="!forgotLoginForm.get('uname').valid && forgotLoginForm.get('uname').touched">
                        <p>Email is required</p>
                    </span>
                    <br>
                    <div class="form-group" style="margin-bottom: 4px">
                    <label>Agency Code<sup style="color:red; font-size: 1.35em;
                        top: 0em;">&nbsp;*</sup></label>
                    <input class="form-control" style="border-color:#ced4da;" placeholder="agencycode" type="text" autocomplete="off" formControlName="agencycode" [(ngModel)]="agencycode"
                        name="agencycode">
                    </div>
                    <span class="help-block text-danger text-center"
                    *ngIf="!forgotLoginForm.get('agencycode').valid && forgotLoginForm.get('agencycode').touched">
                    <p>Agency Code is required</p>
                    </span>
                    <br>
                    <div class="row">
                    </div>
                </form>

                <div class="mt-4">
                    <button class="btn blue-btn" (click)="confirmResetpassword()" [disabled]="!forgotLoginForm.valid">Proceed</button>&nbsp;&nbsp;
                    <button class="btn blue-btn" (click)="close()">Cancel</button>
                </div>
            </div>
        </div>
    </div> 
</div>