kendo-pdf-export {
    font-family: "Exo", sans-serif;
    font-size: 11px;
  }
   .kendofooter {
    position: absolute;
    bottom: 30px;
    font-family: "Exo", sans-serif;
    font-size: 10px;
    width: 100%;
}