.payratelabel{
    font-weight: 600;
    color:#004290;
    margin-top:10px;
    
}
.payratenotes{
    color:black
}
.addpayorinfo
{
    text-align: right;
    margin-top: 10px;
}
.deletebtnpad
{
    margin-left: 10px;
}