
  <div class="card-body  widget-body pb-0 pt-2 mb-4">
    <div class="row"  style="width: 100%; overflow-x: auto;">
      <div class="offset-lg-10 col-lg-2">
        <button class="btn btn-primary btn-sm w-100 ml-3"  (click)="AddCertificate('new',0)" *ngIf="fp.cretificationcreate">Add
          Certification</button>
      </div>
      <ejs-grid #grid [dataSource]='data |async' [allowResizing]='true' [allowSorting]='true' allowPaging='true'
     [pageSettings]='initialPage'  (dataStateChange)= 'dataStateChange($event)' (resizeStop)="onResize($event)"  (actionBegin)="onActionComplete($event)" >
        <e-columns>
          <e-column minWidth= 100 field="socDate" headerText="Start Of Care" type='date' [format]='formatOptions'>
          </e-column>
          <e-column minWidth= 100 field="startDate" headerText="Start Date" type='date' [format]='formatOptions'>
          </e-column>
          <e-column minWidth= 100 field="endDate" headerText="End Date" type='date' [format]='formatOptions'></e-column>
          <e-column minWidth= 100 field="companyName" headerText="Company">
            <ng-template #filterTemplate let-data>
              <ejs-maskedtextbox placeholder="Enter the value"></ejs-maskedtextbox>
            </ng-template>
          </e-column>
          <e-column minWidth= 100 field="icD10PrimaryIdCode" headerText="ICD10(Primary)">
            <ng-template #filterTemplate let-data>
              <ejs-maskedtextbox placeholder="Enter the value"></ejs-maskedtextbox>
            </ng-template>
          </e-column>
          <e-column minWidth= 100 field="npi" headerText="NPI"></e-column>
          <e-column minWidth= 100 field="physician" headerText="Physician">
            <ng-template #filterTemplate let-data>
              <ejs-maskedtextbox placeholder="Enter the value"></ejs-maskedtextbox>
            </ng-template>
          </e-column>
          <e-column minWidth= 100 field="clinic" headerText="Clinic">
            <ng-template #filterTemplate let-data>
              <ejs-maskedtextbox placeholder="Enter the value"></ejs-maskedtextbox>
            </ng-template>
          </e-column>
          <e-column minWidth= 100 headerText="Actions" uid="action" textAlign='center'>
            <ng-template #template let-data>
              <button class="btn btn-sm btn-edit-table" 
              (click)="AddCertificate('edit',data)" 
                *ngIf="fp.startofcareupdate"><i
                  class="fa fa-edit"></i></button>
              <button class="btn btn-sm btn-delete-table" 
            
                (click)="AddCertificate('delete',data)"  *ngIf="fp.startofcaredelete"><i class="fa fa-trash fa-lg"></i></button>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>